@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(255, 255, 255);
  --foreground: hsl(0, 0%, 9%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(10, 10, 10);
    --foreground: rgb(237, 237, 237);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  section {
    @apply py-3 px-4 lg:py-6 lg:px-[196px]
    /* 'py-[24px] px-[16px] lg:px-[196px] lg:py-[44px] */
  }
}

/* @layer utilities {
  .container {
    @apply sm:px-0
  }
} */

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes path {
  0%, 34%, 71%, 100% {
    transform: scale(1);
  }
  17% {
    transform: scale(1.2);
  }
  49% {
    transform: scale(1.2);
  }
  83% {
    transform: scale(1.2);
  }
}

/* Then you can use these animations in your CSS */
.dots-border::before {
  animation: rotate 2s linear infinite;
}

.sparkle-path {
  animation: path 1.5s linear 0.5s infinite;
}
